body {
    margin: 0 15px 0 10px;
    padding: 0;
    font-family: Tahoma;
}

.header{
    height: 100px;
    padding: 0 20px;
    color: #fc758c;
}

.logo {
    padding-top: 50px;
    line-height: 100px;
    float: left;
}
  
.menu{
    float: right;
    line-height: 100px;
}

.search {
    padding-left: 15px;
    color: #fc758c;
}

.menu a{
    color: #838383;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    transition: 0.4s;
}

.menu .item:hover {
    background-color: #fc758c;
    color: white;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}


.show-menu-btn i{
    line-height: 100px;
}
  
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
  
.content{
    padding: 0 20px;
}

.content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p{
    text-align: justify;
}

.container_hero {
    display: grid;
    height: 600px;
    width: 100%;
    background-color: #fc758c;
}

.hero {
    justify-self: center;
    align-self: center;
}

.hero_title {
    color: white;
    letter-spacing: 10px;
    font-size: 25px;
    padding-bottom: 40px;
}

.hero_description {
    display: block;
    color: white;
    text-align: center;
}

.hero_button_container {
    padding-top: 50px;
    display: grid;
}

.hero_button {
    justify-self: center;
    width: 25%;
    background-color: white;
    color: rgba(252, 117, 140, 0.5);
    border: none;
    font-weight: bold;
    font-size: 10px;
    padding: 10px 15px 10px 15px;
}

.container_icon {
    display: grid;
    height: 100px;
}

.icons {
    letter-spacing: 10px;
    justify-self: center;
    align-self: center;
    color: #fc758c;
    cursor: pointer;
}

.container_filter {
    display: grid;
}

.filter {
    justify-self: center;
    align-self: center;
}

.menu_filter .item_filter {
    color: #838383;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
}

.menu_filter .item_filter:hover {
    padding-top: 5px;
    background-color: #fc758c;
    color: white;
}

.container_images {
    column-count: 3;
    margin: 50px 200px 10px 200px; 
}

.container_images img {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.container_button_footer {
    display: grid;
    height: 100px;
}

.button_footer {
    width: 12%;
    padding: 10px 15px 10px 15px;
    background-color: #fc758c;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 10px;
    justify-self: center;
    align-self: center;
}

.container_copyright {
    display: grid;
    height: 50px;
}

.copyright {
    justify-self: center;
    align-self: center;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(1, 15, 1, 0.2);
}

.container_icon_footer {
    display: grid;
    height: 50px;
    margin-bottom: 30px;
}

.icon_footer {
    justify-self: center;
    align-self: center;
    letter-spacing: 5px;
    color: rgba(1, 15, 1, 0.2);
}
  
@media screen and (max-width:800px) {

    body {
        margin: 0;
    }

    .show-menu-btn,.hide-menu-btn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    
    #chk:checked ~ .menu{
        right: 0;
    }

    .logo {
        padding-top: 30px;
    }

    .hero_title {
        text-align: center;
    }

    .hero_button {
        width: 40%;
    }

    .menu_filter {
        padding-left: 0px;
    }

    .menu_filter .item_filter {
        font-size: 10px;
        padding: 0 10px 0 10px;
    }

    .container_images {
        column-count: 1;
        margin: 50px 20px 0 20px;
    }

    .button_footer {
        width: 40%;
    }

}